# Ignore data and outputs
data/
logs/
results/

# Ignore documentation drafts
docs/

#Ignore nextflow work folder
work/

# Ignore temporary files
*.Rhistory
*.RData
*.ipynb_checkpoints/
*.log
*.tmp
*.bak
.nextflow*

# Ignore environment or cache
.conda/
.venv/
__pycache__/
.DS_Store

