process {
    withName:align_reads {
        cpus = 24
        memory = '120 GB'
        // conda = "./envs/star_env.yaml"
    }
    withName:merge_bams {
        cpus = 32
    }
    withName:run_ema {
        cpus = 16
    }
}

process.conda = true
// conda.enabled = true

// conda {
//   enabled = true
//   autoActivate = true
//   useMamba = false
// }
